
html, body {
  height: 100%;
  box-sizing: border-box;
  color: white;
}

* {
  border: 1px solid black;
}


.container {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
                  rgba(255, 0, 0, 0.45),
                  rgba(255, 0, 0, 0.45)
  )
              ,url("http://i.imgur.com/ZX7Pcbf.jpg") no-repeat center;

  background-size: cover;
  //color: #ac4981;
  height: 100vh;
  padding-top: 20px;
  //display: flex;
  //flex-direction: column;
}

.weather-text {
  //border: 1px solid black;
  //justify-content: center;
  //font-size: 4rem;
  //height: 40vh;
  //align-items: center;
  //align-content: center;
}

.secondary-content {
  width: 80%;
  margin: 0px auto;
  padding: 1px;
}

.weather-text,
.weather-text2 {
  width: 40%;
  margin: 0px auto;
}

.weather-text {
  float: right;
  margin-right: calc(50% - 46.5%);
}

.weather-text2 {
  float: left;
  margin-left: calc(50% - 46.5%);
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

